<template>
  <div class="hello" >
    <input value="Apresenta Gráfico" type="button" v-on:click="createChart()">
    <div class="chart" ref="chartdiv"></div>
  </div>
</template>

<script>



var am4core;
var am4charts;
var am4themes_animated;

export default {
  name: 'HelloWorld',
  methods:{
    createChart(){
      import("../Amcharts").then((modules)=>{
        am4core = modules.default.am4core;
        am4charts = modules.default.am4charts;
        am4themes_animated = modules.default.am4themes_animated;
        this.showChart();

      })
    },
    showChart(){
      let chart = am4core.create(this.$refs.chartdiv, am4charts.XYChart);

      chart.paddingRight = 20;

      let data = [];
      let visits = 10;
      for (let i = 1; i < 366; i++) {
        visits += Math.round((Math.random() < 0.5 ? 1 : -1) * Math.random() * 10);
        data.push({ date: new Date(2018, 0, i), name: "name" + i, value: visits });
      }

      chart.data = data;

      let dateAxis = chart.xAxes.push(new am4charts.DateAxis());
      dateAxis.renderer.grid.template.location = 0;

      let valueAxis = chart.yAxes.push(new am4charts.ValueAxis());
      valueAxis.tooltip.disabled = true;
      valueAxis.renderer.minWidth = 35;

      let series = chart.series.push(new am4charts.LineSeries());
      series.dataFields.dateX = "date";
      series.dataFields.valueY = "value";

      series.tooltipText = "{valueY.value}";
      chart.cursor = new am4charts.XYCursor();

      let scrollbarX = new am4charts.XYChartScrollbar();
      scrollbarX.series.push(series);
      chart.scrollbarX = scrollbarX;

      am4core.useTheme(am4themes_animated);


      this.chart = chart;
    }
  }

}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.chart {
  width: 100%;
  height: 500px;
}
</style>